# Database
DATABASE_URL=postgresql://postgres:postgres@pgdb:5432/postgres

POSTGRES_DB="postgres"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_HOST="pgdb"
REDIS_URI="redis://redis:6379/0"

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com

# Security settings
SECRET_KEY=django-insecure-$xts=dax7#nn8opswt=k+tg^@3g)fs)4*%=y(_j^d+dz_(8k(-
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,158.160.28.235
CSRF_TRUSTED_ORIGINS=http://158.160.28.235:8000,http://localhost:8000
